<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="errorfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log"
          layout="[${date:format=yyyy-MM-dd HH/:mm/:ss}][${level}] ${message} ${exception}" />
    <target xsi:type="Database" name="database" connectionString="Data Source=HANGE\SQL2014;Initial Catalog=MediaLog;Persist Security Info=True; User ID=sa;Password=bydsfy"
        commandText="INSERT INTO [media_option_log]([client_ip],[media_type],[device_name],[user_code],[media_filename],[option_type],[option_info])
                      VALUES (@client_ip,@media_type,@device_name,@user_code,@media_filename,@option_type,@option_info)">
      <!--日志日期-->
      <!--<parameter name="@createDate" layout="${longdate}"/>-->
      <!--日志等级-->
      <parameter name="@client_ip" layout="${event-context:item=client_ip}"/>
      <parameter name="@media_type" layout="${event-context:item=media_type}"/>
      <parameter name="@device_name" layout="${event-context:item=device_name}"/>
      <parameter name="@user_code" layout="${event-context:item=user_code}"/>
      <parameter name="@media_filename" layout="${event-context:item=media_filename}"/>
      <parameter name="@option_type" layout="${event-context:item=option_type}"/>
      <parameter name="@option_info" layout="${event-context:item=option_info}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="errorfile"/>
    <logger name="*" level="Info" writeTo="database"/>
  </rules>
</nlog>