################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Arthas.Demo/bin/
/.vs/
/Arthas.Demo/obj/
/EASkins/bin/Debug/
/EASkins/obj/Debug/EAStyles/Themes/MiStyle
/EASkins/obj/
/EAStyles/bin/
/EAStyles/bin/Release/
/EAStyles/obj/
/EAWpfDemo/obj
/MaterialExample/bin
/MaterialExample/obj
/Arthas/bin/Debug
/Arthas/obj/Debug/Controls/Metro
/Arthas/obj/Debug/TempPE
/Arthas/obj/Debug/Themes/Metro
/Arthas/obj/Debug/Themes/Generic.baml
/Arthas/obj/Debug
/Arthas/Resources/Thumbs.db
/EAWpfDemo/bin/Debug
/MetroUiToolkit/bin
/MetroUiToolkit/obj
/MetroUiToolkitDemo/bin
/MetroUiToolkitDemo/obj
*.ini
*.baml
*.dtbcache
*.suo

